language: node_js
node_js:
  - "node"
before_install:
  - sudo apt-get update -y
  - sudo apt-get -y install maven default-jdk
  - git clone https://github.com/aapeliv/swagger-codegen-typescript-browser codegen
  - cd codegen && mvn clean package && cd ..
install:
  - yarn install
  - curl -sLo api_spec.yaml https://github.com/persephone-tools/persephone-web-API/raw/master/persephone_api/api_spec.yaml
  - java -jar codegen/target/TypescriptBrowser-swagger-codegen-shaded.jar generate -l TypescriptBrowser -i api_spec.yaml -o persephone-tools/persephone-frontend/src/gen/
