/*.App {
    margin: 20px;
}*/
.ReactVirtualized__Table__headerColumn{
	display:inline-block;
	width:14%;
	border:1px solid black;
}
.ReactVirtualized__Table__rowColumn{
	display:inline-block;
    font-size:8px;
	width:14%;
}
.ui.container.container-position{
	margin-left:15rem !important;
	margin-top:20px;
	margin-bottom:20px;
	padding: 0px 20px;
	width:auto;
}