.ReactVirtualized__Table__row {
    align-items:stretch;
    border-bottom:1px solid gray;
}
.ReactVirtualized__Table__rowColumn {
    align-items:center;
    border-right:1px solid gray;
    display: flex;
    white-space: pre;
}
.ui.container.container-position{
	margin-left:15rem !important;
	margin-top:20px;
	margin-bottom:20px;
	padding: 0px 20px;
	width:auto;
}