.headerRow, .evenRow, .oddRow {
    border-bottom: 1px solid gray;
}
.evenRow{
    background-color:aliceblue;
}
.oddRow {
    background-color: beige;
}
.ReactVirtualized__Table__rowColumn {
    white-space: pre !important;
}
.ui.container.container-position{
	margin-left:15rem !important;
	margin-top:20px;
	margin-bottom:20px;
	padding: 0px 20px;
	width:auto;
}